## Container Types into
Container/Reference Types
list
tuple
dictionary
set

In [2]:
fruits = ['Apple', 'Cherry', 'Banana']
type(fruits)

list

In [3]:
numbers = [1, 2, 3, 4]
print(numbers)
type(numbers)

[1, 2, 3, 4]

list

In [4]:
mixed = ['apple', 1, True]
print(mixed)
type(mixed)

['apple', 1, True]

list

In [5]:
list('abcd')

['a', 'b', 'c', 'd']

In [9]:
numbers[1]

2

In [10]:
numbers[3:50]

[4]

In [11]:
numbers[::2]

[1, 3]

In [12]:
a = 5
b = a
a += 1 # a= a + 1
print(a)
print(b)

6
5

In [15]:
a = [1, 2, 3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [16]:
a = [1, 2, 3]
b = a
print(id(a))
print(id(b))
a.append(4)
print(a)
print(b)

2587358264128
2587358264128
[1, 2, 3, 4]
[1, 2, 3, 4]

In [17]:
a = 5
b = a
print(id(a))
print(id(b))
a += 1 # a= a + 1
print(a)
print(b)

140714173721144
140714173721144
6
5

In [18]:
a = [1, 2, 3]
b = a.copy()

print(id(a))
print(id(b))

2587353031936
2587358536064

In [20]:
x = [[1, 2], [3, 4]]
x[1][0]

3

In [24]:
x = [[1, 2], [3, 4]]
y = x.copy()
x[0].append(5)
print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2, 5], [3, 4]]

In [ ]:
from copy import copy,deepcopy
x = [[1, 2], [3, 4]]
y = deepcopy(x)
x[0].append(5)
print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2], [3, 4]]

In [28]:
x = 1
x = [[a, 2], [3, 4]]
y = deepcopy(x)
x[0].append(5)
print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2], [3, 4]]

### List Methods
- append()
- clear()
- copy()
- count()
- extend()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

In [64]:
fruits = ['Apple', 'Banana', 'Cherry', 'Apple']
fruits.append('Mango')
fruits

['Apple', 'Banana', 'Cherry', 'Apple', 'Mango']

In [65]:
fruits.count('Apple')

2

In [66]:
fruits.extend(['Melon', 'Ananas'])
fruits

['Apple', 'Banana', 'Cherry', 'Apple', 'Mango', 'Melon', 'Ananas']

In [67]:
fruits.index('Melon')

5

In [ ]:
fruits.index('Ananas', fruits.index('Ananas')+1)

In [46]:
fruits.pop()

'Ananas'

In [62]:
fruits

['Cherry', 'Melon']

In [48]:
fruits.pop()

'Melon'

In [61]:
fruits

['Cherry', 'Melon']

In [58]:
fruits.remove('Banana')

In [59]:
fruits

['Cherry', 'Melon']

In [ ]:
fruits.remove(fruits[2])

In [55]:
fruits

['Banana', 'Cherry', 'Melon']

In [69]:
fruits

['Apple', 'Banana', 'Cherry', 'Apple', 'Mango', 'Melon', 'Ananas']

In [70]:
fruits.reverse()

In [71]:
fruits

['Ananas', 'Melon', 'Mango', 'Apple', 'Cherry', 'Banana', 'Apple']

In [73]:
fruits.sort()

In [74]:
sorted(fruits)

['Ananas', 'Apple', 'Apple', 'Banana', 'Cherry', 'Mango', 'Melon']

In [75]:
fruits = ['banan', 'a', 'ananas', 'ab']
sorted(fruits, key=lambda x: len(x))

['a', 'ab', 'banan', 'ananas']

In [76]:
numbers = [6, 4, 3, 2, 7]
sorted(numbers, reverse=True)

[7, 6, 4, 3, 2]

In [78]:
numbers = [-6, 4, 3, 2, 7]
sorted(numbers, key=lambda x: abs(x))

[2, 3, 4, -6, 7]

In [79]:
numbers

[-6, 4, 3, 2, 7]

In [80]:
numbers[0] = 1

In [81]:
numbers

[1, 4, 3, 2, 7]

TUPLE

In [83]:
l = [1, True, 'apple', None, 5.6]
l

[1, True, 'apple', None, 5.6]

In [84]:
a = (1, 2, 3, 4)
type(a)

tuple

In [85]:
a[0]

1

In [86]:
s = slice(0, 1, 2)
a[s]

(1,)

In [87]:
len(a)

4

In [88]:
b = (1,)
type(b)

tuple

In [89]:
a[0:1]

(1,)

In [92]:
tuple([1])

(1,)

In [93]:
a[0]

1

In [95]:
a[0]

1

append, sort, pop, remove, extend, reverse, insert - mute

index, count
 
copy,

In [97]:
person1 = ('John', 'Doe', 40)

person2 = ('John', 'Doe', 40)

In [98]:
[]

[]

In [ ]:
type(()) # EMPTY TUPLRE

tuple

In [100]:
empty_tuple = tuple()

In [101]:
res = divmod(20, 3)
type(res)

tuple

# TUPLE UNPACKING

In [ ]:
id, title, artist_id = (1, 'For Those About To Rock We Salute You', 1)
title

'For Those About To Rock We Salute You'

# DICTIONARY

In [103]:

p = {
    'name': "John",
    'email': "john@gmail.com",
    'age': 50
}
type(p)

dict

In [104]:
p['name']

'John'

In [107]:
p['email']

'john@gmail.com'

In [108]:
p.keys()

dict_keys(['name', 'email', 'age'])

In [109]:
p.values()

dict_values(['John', 'john@gmail.com', 50])

In [110]:
p.items()

dict_items([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

In [111]:
dict([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

{'name': 'John', 'email': 'john@gmail.com', 'age': 50}

In [112]:
dict(name = 'Adam', age = 40, phonenumber = +99877548653)

{'name': 'Adam', 'age': 40, 'phonenumber': 99877548653}

In [114]:
p['lname'] = 'Doe'

In [115]:
p

{'name': 'John', 'email': 'john@gmail.com', 'age': 50, 'lname': 'Doe'}

In [116]:
{
    1: "abs",
    True: 'abcd'
}

{1: 'abcd'}

In [ ]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = (1, 2, 3) 

d1 = { 
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}
d1

{1: 'a', False: 'ab', 'key3': 'abc', (1, 2, 3): 'abcd'}

In [118]:
d1[(1, 2, 3)]

'abcd'

In [ ]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = ([1, 2][2, 3], [3, 4])  

d2 = { 
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'

}
d2

In [120]:
hash(1)

1

In [121]:
hash('hello')

7743994601142893102

In [124]:
hash((1, 2, 3, 4))

590899387183067792

In [129]:
print(hash((1, 23, 65, 6, 7, 45, 4)))
print(hash((1, 23, 65, 6, 4, 45, 4)))

5119825692640102417
7177309289018732339

In [131]:
print(hash((1, 23, 65, 6, 7, 45, 4)))
print(hash((1, 23, 65, 6, 4, 45, 4)))

5119825692640102417
7177309289018732339

In [130]:
(1, 23, 65, 6, 7, 45, 4) == (1, 23, 65, 6, 4, 45, 4)

False

In [132]:
(1, 23, 65, 6, 7, 45, 4) == (1, 23, 65, 6, 7, 45, 4)

True

In [133]:
a1 = {
    'a': 1,
    'b':2
}
a1.update({'c': 3, 'a': 5})

In [134]:
a1

{'a': 5, 'b': 2, 'c': 3}

## SET

In [144]:
letter = {'a', 'b', 'c', 'd', 'a', 'a', 'b'}
type(letter)

set

In [145]:
letter

{'a', 'b', 'c', 'd'}

In [146]:
a =  ['a', 'b', 'c', 'd', 'a', 'a', 'b']
list(set(a))

['d', 'a', 'b', 'c']

In [147]:
for i in letter:
    print(i)

d
a
b
c

In [148]:
s1 = {'a', 'b', 'c'}
s2 = {'r', 'a', 'b'}

s1.union(s2)

{'a', 'b', 'c', 'r'}

In [149]:
a = [1, 1].clear()

In [150]:
type(a)

NoneType

In [151]:
print(a)

None

In [152]:
s1 | s2

{'a', 'b', 'c', 'r'}

In [153]:
s1.remove('a')

In [154]:
s1

{'b', 'c'}

In [155]:
s1.difference(s2)

{'c'}

In [156]:
s1 - s2

{'c'}

In [157]:
s2.difference(s1)

{'a', 'r'}

In [158]:
s1.symmetric_difference(s2)

{'a', 'c', 'r'}

In [159]:
s1 ^ s2

{'a', 'c', 'r'}